<!doctype html>
<html lang="et" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Ng1</title>

    <link rel="stylesheet" href="styles.css">

    <style type="text/css">
        .ng-cloak {
            display: none
        }

        .done {
            text-decoration: line-through
        }
    </style>
</head>
<body>
<div ng-controller="C1 as vm">
    {{ vm.myVar }}
    <button ng-click="vm.increase()">Increase </button>
    <br> <input ng-model="vm.newItem">
    <button ng-click="vm.addItem()">Add</button>
    <br>
    <div ng-repeat="item in vm.items">
        <span ng-class="{ done: item.done }">{{ item.title }}</span>
        <input type="checkbox" ng-model="item.done">
        {{item.added}}


    </div>
</div>
{{ 1 + 2 + " dfsödkf"}}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>


</body>
</html>
